<div class="header d-flex justify-content-between">
  <h1>Our Cocktails</h1>
  <%= link_to "Create new cocktail", new_cocktail_path, class: 'btn btn-danger'%>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card" >
      <%= link_to '', cocktail_path(cocktail) %>
      <h4><%= cocktail.name %></h4>
      <ul>
        <% cocktail.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
