<h3>Add a new dose</h3>
<%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.association :ingredient, include_hidden: false %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-danger" %>
<% end %>
